<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="./static/batman.logo.png" rel="icon">
</head>

<body class="main-content">
    <header class="container header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="./static/headshot.jpg" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    <span>Kent Michael Redford</span>
                    Programmer
                </h1>
                <p>
                    I am a programmer and web developer, I am passionate about computers and programming structures. I
                    am actively seeking an opportunity in the Information Technology world where I can
                    apply my expertise and collaborate with more experienced individuals. Whether building custom web
                    applications or learning new coding processes, I am confident in my ability to learn quickly,
                    deliver outstanding results and make a strong and positive impact on the organization.
                </p>
                <div class="home">
                    <a href="./">
                        <button>Return to Home Page</button>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>